<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <!-- Version information -->
  <?include 'version.wxi' ?>

  <?define ProductVersion="$(var.VER_MAJOR).$(var.VER_MINOR).$(var.VER_BUILD).$(var.VER_PATCH)" ?>
  <?define RTMProductVersion="0.5.0.0" ?>
  <?define UpgradeCode="{EC758BD3-1E77-4b54-A464-38824F53BCAF}" ?>

  <Product Id='*'
      Name='Sawbuck'
      Language='1033'
      Version='$(var.ProductVersion)'
      Manufacturer='Google Inc'
      UpgradeCode='$(var.UpgradeCode)' >
    <Package Description='The Chrome Log Viewer.'
             Manufacturer='Google Inc'
             InstallerVersion='200'
             Compressed='yes' />

    <!--
      Boilerplate code to make sure we upgrade previous versions,
      and to prevent downgrades for good measure.
    -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND" />
      <UpgradeVersion Minimum="$(var.RTMProductVersion)"
                      IncludeMinimum="yes"
                      Maximum="$(var.ProductVersion)"
                      IncludeMaximum="no"
                      Language="1033"
                      Property="UPGRADEFOUND" />
    </Upgrade>

    <!-- 
      Prevent downgrading.
    -->
    <CustomAction Id="PreventDowngrading"
                  Error="Newer version already installed." />

    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading"
              After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="PreventDowngrading"
              After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>

    <!-- 
      Use the install dir UI which displays our license agreement,
      and also allows the user to pick the install location.
    -->
    <Property Id='WIXUI_INSTALLDIR' Value='SAWBUCKAPPLICATIONDIRECTORY' />
    <UI>
      <UIRef Id='WixUI_InstallDir' />
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">
        WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
    </UI>

    <!--
      Specify our license file.
    -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <!-- 
      Add an option to launch Sawbuck at the end of installation.
      This is all boilerplate from WiX docs.
    -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"
        Value="Launch Sawbuck" />

    <Property Id="WixShellExecTarget" Value="[#SawbuckExeFile]" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />

    <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />

    <!--
      Declare our Add/Remove Programs icon.
    -->
    <Icon Id="icon.ico" SourceFile="..\viewer\sawbuck.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <!-- Define our program files foler -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder'>
        <Directory Id='ProgramFilesGoogleFolder' Name='Google'>
          <Directory Id='SAWBUCKAPPLICATIONDIRECTORY' Name='Sawbuck'/>
        </Directory>
      </Directory>

      <!-- Define our application files folder -->
      <Directory Id='ProgramMenuFolder'>
        <Directory Id='SawbuckProgramsDirectory' Name='Sawbuck'/>
      </Directory>
    </Directory>

    <!-- Component for the application start menu shortcut -->
    <DirectoryRef Id='SawbuckProgramsDirectory'>
      <Component Id='SawbuckShortcutComponent'
          Guid='{CECB7B52-78A8-4638-BD25-0CFD2F0044DF}'>
        <Shortcut Id='ApplicationStartMenuShortcut'
                  Name='Sawbuck'
                  Description='The Chrome log viewer.'
                  Target='[SAWBUCKAPPLICATIONDIRECTORY]Sawbuck.exe'
                  WorkingDirectory='SAWBUCKAPPLICATIONDIRECTORY'/>
        <RemoveFolder Id='SawbuckProgramsDirectory' On='uninstall'/>
        <!-- This is apparently necessary so the component has
            a 'key' item.
        -->
        <RegistryValue
            Root='HKCU'
            Key='Software\Google\Sawbuck'
            Name='installed'
            Type='integer'
            Value='1'
            KeyPath='yes'/>
        <!-- Put an uninstall shortcut in there as well. -->
        <Shortcut Id='UninstallSawbuckShortcut'
                  Name='Uninstall Sawbuck'
                  Target='[System64Folder]msiexec.exe'
                  Arguments='/x [ProductCode]'
                  Description='Uninstalls Sawbuck' />
      </Component>
    </DirectoryRef>

    <!-- Provider registration component. -->
    <DirectoryRef Id='TARGETDIR'>
      <Component Id='ProviderRegistryComponent'
          Guid='{1161AE44-89DE-4144-882A-E98C389C4F07}'>
        <RegistryKey
            Root='HKLM'
            Key='Software\Google\Sawbuck\Providers'
            Action='createAndRemoveOnUninstall'>
          <!-- Chrome -->
          <RegistryKey
              Key='{7FE69228-633E-4f06-80C1-527FEA23E3A7}'>
            <RegistryValue Type='string' Value='Chrome' />
          </RegistryKey>
          <!-- Chrome Frame -->
          <RegistryKey
              Key='{0562BFC3-2550-45b4-BD8E-A310583D3A6F}'>
            <RegistryValue Type='string' Value='Chrome Frame' />
          </RegistryKey>
          <!-- Sawbuck -->
          <RegistryKey
              Key='{C43B1318-C63D-465b-BCF4-7A89A369F8ED}'>
            <RegistryValue Type='string' Value='Sawbuck' />
          </RegistryKey>
          <!-- Add other providers here. -->
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!-- Component for the application's EXE -->
    <DirectoryRef Id='SAWBUCKAPPLICATIONDIRECTORY'>
      <Component Id='SawbuckExeComponent'
          Guid='{8F825656-7F0D-4aa6-A22C-759F82D47E38}'>
        <File Id='SawbuckExeFile'
            Name='Sawbuck.exe'
            DiskId='1'
            Source='$(var.SAWBUCK_EXE_PATH)' />
        <!-- We set this environment variable system-wide to ensure
             Chrome uses ETW logging.
          Note: the user may need to log out and back in before this
            takes effect.
        -->
        <Environment Id='ChromeEtwLoggingEnvVar'
            Action='create'
            System='yes'
            Name='CHROME_ETW_LOGGING'
            Value='1' />
      </Component>
      <Component Id='DbgHelpDllComponent'
          Guid='{CDDFC08A-5814-4375-9971-2B35A039B72F}'>
        <File Id='DbgHelpDllFile'
            Name='DbgHelp.dll'
            DiskId='1'
            Source='..\..\third_party\debugging_tools\files\DbgHelp.dll'/>
      </Component>
      <Component Id='SymSrvDllComponent'
          Guid='{04FFB025-E3C9-4ecd-8255-ED7E63EFC948}'>
        <File Id='SymSrvDllFile'
            Name='SymSrv.dll'
            DiskId='1'
            Source='..\..\third_party\debugging_tools\files\SymSrv.dll'/>
      </Component>
    </DirectoryRef>

    <!-- Just one feature. No muss no fuss, no UI. -->
    <Feature Id='Sawbuck' Title='Sawbuck Log Viewer' Level='1'>
      <ComponentRef Id='SawbuckExeComponent' />
      <ComponentRef Id='SawbuckShortcutComponent' />
      <ComponentRef Id='ProviderRegistryComponent' />
      <ComponentRef Id='DbgHelpDllComponent' />
      <ComponentRef Id='SymSrvDllComponent' />
    </Feature>
  </Product>
</Wix>
