; Copyright 2015 Google Inc. All Rights Reserved.
;
; Licensed under the Apache License, Version 2.0 (the "License");
; you may not use this file except in compliance with the License.
; You may obtain a copy of the License at
;
;     http://www.apache.org/licenses/LICENSE-2.0
;
; Unless required by applicable law or agreed to in writing, software
; distributed under the License is distributed on an "AS IS" BASIS,
; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
; See the License for the specific language governing permissions and
; limitations under the License.
;
; Export declarations for the Asan RTL DLL.
{message}
LIBRARY syzyasan_{s}.dll

EXPORTS
  ; Access checking functions.
  asan_check_1_byte_read_access=asan_{r}_1_byte_read_access{m}
  asan_check_2_byte_read_access=asan_{r}_2_byte_read_access{m}
  asan_check_4_byte_read_access=asan_{r}_4_byte_read_access{m}
  asan_check_8_byte_read_access=asan_{r}_8_byte_read_access{m}
  asan_check_10_byte_read_access=asan_{r}_10_byte_read_access{m}
  asan_check_16_byte_read_access=asan_{r}_16_byte_read_access{m}
  asan_check_32_byte_read_access=asan_{r}_32_byte_read_access{m}
  asan_check_1_byte_write_access=asan_{r}_1_byte_write_access{m}
  asan_check_2_byte_write_access=asan_{r}_2_byte_write_access{m}
  asan_check_4_byte_write_access=asan_{r}_4_byte_write_access{m}
  asan_check_8_byte_write_access=asan_{r}_8_byte_write_access{m}
  asan_check_10_byte_write_access=asan_{r}_10_byte_write_access{m}
  asan_check_16_byte_write_access=asan_{r}_16_byte_write_access{m}
  asan_check_32_byte_write_access=asan_{r}_32_byte_write_access{m}

  asan_check_1_byte_read_access_no_flags=asan_{r}_1_byte_read_access_no_flags{m}
  asan_check_2_byte_read_access_no_flags=asan_{r}_2_byte_read_access_no_flags{m}
  asan_check_4_byte_read_access_no_flags=asan_{r}_4_byte_read_access_no_flags{m}
  asan_check_8_byte_read_access_no_flags=asan_{r}_8_byte_read_access_no_flags{m}
  asan_check_10_byte_read_access_no_flags=asan_{r}_10_byte_read_access_no_flags{m}
  asan_check_16_byte_read_access_no_flags=asan_{r}_16_byte_read_access_no_flags{m}
  asan_check_32_byte_read_access_no_flags=asan_{r}_32_byte_read_access_no_flags{m}
  asan_check_1_byte_write_access_no_flags=asan_{r}_1_byte_write_access_no_flags{m}
  asan_check_2_byte_write_access_no_flags=asan_{r}_2_byte_write_access_no_flags{m}
  asan_check_4_byte_write_access_no_flags=asan_{r}_4_byte_write_access_no_flags{m}
  asan_check_8_byte_write_access_no_flags=asan_{r}_8_byte_write_access_no_flags{m}
  asan_check_10_byte_write_access_no_flags=asan_{r}_10_byte_write_access_no_flags{m}
  asan_check_16_byte_write_access_no_flags=asan_{r}_16_byte_write_access_no_flags{m}
  asan_check_32_byte_write_access_no_flags=asan_{r}_32_byte_write_access_no_flags{m}

  asan_check_repz_1_byte_cmps_access=asan_{r}_repz_1_byte_cmps_access
  asan_check_repz_2_byte_cmps_access=asan_{r}_repz_2_byte_cmps_access
  asan_check_repz_4_byte_cmps_access=asan_{r}_repz_4_byte_cmps_access

  asan_check_repz_1_byte_lods_access=asan_{r}_repz_1_byte_lods_access
  asan_check_repz_2_byte_lods_access=asan_{r}_repz_2_byte_lods_access
  asan_check_repz_4_byte_lods_access=asan_{r}_repz_4_byte_lods_access

  asan_check_repz_1_byte_movs_access=asan_{r}_repz_1_byte_movs_access
  asan_check_repz_2_byte_movs_access=asan_{r}_repz_2_byte_movs_access
  asan_check_repz_4_byte_movs_access=asan_{r}_repz_4_byte_movs_access

  asan_check_repz_1_byte_stos_access=asan_{r}_repz_1_byte_stos_access
  asan_check_repz_2_byte_stos_access=asan_{r}_repz_2_byte_stos_access
  asan_check_repz_4_byte_stos_access=asan_{r}_repz_4_byte_stos_access

  asan_check_1_byte_cmps_access=asan_{r}_1_byte_cmps_access
  asan_check_2_byte_cmps_access=asan_{r}_2_byte_cmps_access
  asan_check_4_byte_cmps_access=asan_{r}_4_byte_cmps_access

  asan_check_1_byte_lods_access=asan_{r}_1_byte_lods_access
  asan_check_2_byte_lods_access=asan_{r}_2_byte_lods_access
  asan_check_4_byte_lods_access=asan_{r}_4_byte_lods_access

  asan_check_1_byte_movs_access=asan_{r}_1_byte_movs_access
  asan_check_2_byte_movs_access=asan_{r}_2_byte_movs_access
  asan_check_4_byte_movs_access=asan_{r}_4_byte_movs_access

  asan_check_1_byte_stos_access=asan_{r}_1_byte_stos_access
  asan_check_2_byte_stos_access=asan_{r}_2_byte_stos_access
  asan_check_4_byte_stos_access=asan_{r}_4_byte_stos_access

  ; Heap-replacement functions.
  asan_GetProcessHeap
  asan_HeapCreate
  asan_HeapDestroy
  asan_HeapAlloc
  asan_HeapReAlloc
  asan_HeapFree
  asan_HeapSize
  asan_HeapValidate
  asan_HeapCompact
  asan_HeapLock
  asan_HeapUnlock
  asan_HeapWalk
  asan_HeapSetInformation
  asan_HeapQueryInformation

  ; CRT Interceptor functions.
  asan_memcpy
  asan_memmove
  asan_memset
  asan_memchr
  asan_strcspn
  asan_strlen
  asan_strnlen
  asan_wcsnlen
  asan_strrchr
  asan_wcsrchr
  asan_wcschr
  asan_strcmp
  asan_strpbrk
  asan_strstr
  asan_wcsstr
  asan_strspn
  asan_strncpy
  asan_strncat

  ; Functions exposed for testing purposes.
  asan_SetCallBack
  asan_SetInterceptorCallback
  asan_SetOnExceptionCallback
  asan_GetActiveRuntime

  ; AllocationFilterFlag functions.
  asan_SetAllocationFilterFlag
  asan_ClearAllocationFilterFlag

  ; Breakpad-like exception filter.
  asan_CrashForException

  ; Functions exposed to enable/disable the deferred trimming mechanism.
  asan_EnableDeferredFreeThread
  asan_DisableDeferredFreeThread

  ; Exposed to allow the user to enumerate runtime experiments.
  asan_EnumExperiments

  ; Initialize the SyzyAsan crash reporter.
  asan_InitializeCrashReporter

  ; Clang-Asan access checking functions.
  __asan_load1=asan_redirect_load1
  __asan_load2=asan_redirect_load2
  __asan_load4=asan_redirect_load4
  __asan_load8=asan_redirect_load8
  __asan_load16=asan_redirect_load16
  __asan_load32=asan_redirect_load32
  __asan_store1=asan_redirect_store1
  __asan_store2=asan_redirect_store2
  __asan_store4=asan_redirect_store4
  __asan_store8=asan_redirect_store8
  __asan_store16=asan_redirect_store16
  __asan_store32=asan_redirect_store32

  __asan_init=asan_init
  __asan_get_shadow_memory_dynamic_address=asan_get_shadow_memory_dynamic_address
  __asan_set_seh_filter=asan_set_seh_filter
  __asan_should_detect_stack_use_after_return=asan_should_detect_stack_use_after_return
  __asan_version_mismatch_check_v8=asan_version_mismatch_check_v8
  __asan_memset=asan_memset
  __asan_memcpy=asan_memcpy
  __asan_memmove=asan_memmove
  __asan_handle_no_return=asan_handle_no_return
  